.messages {
  .border-radius(3px);
  .margin(bottom, 1/2);
  .padding(all, 1/4);

  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  border: 1px solid;

  a {
    color: inherit;
    text-decoration: underline;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-position: inside;
    }
  }
}
